.bg-fundo {
    background-image: url('./bees.jpg');
    background-attachment: fixed;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
}

.form-login {
    display: grid;
    grid-template-rows: 100px 40px 40px 60px;
    grid-gap: 10px;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    margin: 4.75% auto;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 100px 10px;

    .input {
        width: 100%;
        border-radius: 5px;
        height: 35px;
        margin-bottom: 10px;
        border: none;
        text-align: center;
        outline: none;
    }
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.login-title{
    margin: 0 auto;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

.btn {
    background-color: #FFBF00;
    width: 100px;
    height: 50px;
    border-radius: 9px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color:#eecd6b;
}

.erro {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.btn-login {
    margin-left: 140px;
}
