.container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 200px;

    .home-item{
        width: 200px;
        height: 200px;
        border: 1px solid;
        border-radius: 20px;
        align-content: center;
        background-color: black;
        color: white;
        padding: 20px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

h1 {
    font-weight: bolder;
    margin-left: 80%;
}