.container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 500px;

    .home-item{
        width: 200px;
        height: 270px;
        border: 1px solid;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: 100px 40px 40px 60px;
        grid-gap: 10px;
        border-radius: 10px;
        padding-top: 50px;
        line-height: 45px;
        background-color: #ffd041e3;
    }
}

.titulo {
    font-weight: bolder;
    margin-left: 80%;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.user-home{
    text-align: center;
}